<div class="jumbotron">
  <h1 class="display-4"><%= note.title %></h1>
  <p class="lead"><%= note.description %></p>
  <p><%= note.full_content.html_safe %></p>
  <br/>
  <%= link_to "Edit", edit_note_path(note), class:"btn btn-secondary" %> 
  <%= link_to "Back", notes_path, class:"btn btn-secondary" %>
  <br/><br/>
  <%= button_to "Delete", @note, form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class:"btn btn-danger btn-sm" %>
</div>
