<body class="text-center">
<h2 class="display-4 text-center">Sign in</h2>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="row justify-content-center">
  <div class="field form-group col-sm-4"> 
    <% f.label :email %><br />
    <%= f.email_field :email, 
    class:"form-control", placeholder:"Email",autofocus: true, autocomplete: "email" %>
  </div>
</div>


<div class="row justify-content-center">
  <div class="field form-group col-sm-4">
    <% f.label :password %>
    <%= f.password_field :password,
    class:"form-control", placeholder:"Password", autocomplete: "current-password" %>
  </div>
</div>

  <% if devise_mapping.rememberable? %>
    <div class="field form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Remember me
      </label>
    </div>
  <% end %>
  <br/>

  <div class="actions">
    <%= f.submit "Log in", class:'btn btn-secondary' %>
  </div>
<% end %>

<br/>

</body>
<%= render "devise/shared/links" %>


